.homeheading{
	background-image: url('photo1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: blue;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-top: 50px;
}
.body{
	background-color: skyblue;
}
.backc{
	background-image: url('photo1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: blue;
	padding-left: 20px;
	padding-right: 6px;
}
.a3{
	background-color:blue;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
	border:0;
}
.navlink{
	color:white ;
	font-weight: bold;
	font-size: 23px;
	text-decoration: none;
}
.contacttable{
	padding-left: 80px;
	padding-top: 50px;
	font-weight: bold;
}
.parahome{
	padding-right: 6px;
}
.urestate{
	font-size: 60px;
	font-weight: bold;
}
.my{
	font-weight: bold;
}
.center{
	text-align: center;
	

}
